:root{
    --main-color: #BBA14f;
    --secondary-color: #f3e3e2f2;
    --white-color: rgb(240, 240, 240);
}

*, *::after, *::before:not(i){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-size: 18px;
}

.logo-large{
    position: absolute;
    background-color: rgba(240, 240, 240, .9);
    padding: 10px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

.logo-large img{
    width: 60px;
    filter: invert(58%) sepia(54%) saturate(380%) hue-rotate(8deg) brightness(99%) contrast(93%);
}

.logo-small img{
    padding: 0;
    margin: 0;
    height: 30px;
    width: auto;
    opacity: 0;
    transition: all 0.5s;
    filter: invert(58%) sepia(54%) saturate(380%) hue-rotate(8deg) brightness(99%) contrast(93%);
}

.navbar{
    background-color: var(--secondary-color);
    color: var(--main-color);
    min-height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: sticky;
    z-index: 20;
    top: 0;
}

.nav-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .fa{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 10px;
    color: var(--main-color);
}

.navbar ul{
    margin-top: 20px;
    line-height: 2;
    display: none;
}

.navbar ul li {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--main-color);
    font-family: "Nunito", sans-serif;
}

#closeNavbar{ width: 30px; display: none; }
#openNavbar{ width: 30px; display: block; }


section{
    padding: 80px 30px;
    width: 100%;
    text-align: center;
}

section:nth-of-type(odd){
    background-color: var(--white-color);
}
section:nth-of-type(even){
    background-color: var(--secondary-color);
}

h1{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    font-weight: 600;
    color: var(--main-color);
}

p, span{
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    font-family: "Nunito", sans-serif;
}
span{
    color: var(--main-color);
    font-weight: bold;
}

hr{
    margin: 25px 100px;
    height: 1px;
    background-color: var(--main-color);
    border: none;
}

#backBtn{
    display: none;
}

.backToTop{
    font-size: 2.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    color: var(--main-color);
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.backToTop:active{
    color: rgb(58, 57, 2);
    background-color: rgb(202, 202, 202);
    box-shadow: 1px 1px 3px black;
}


/* Sobre mi section */
.about-photo{
    position: relative;
}

.about-photo img{
    margin: 40px 0;
    width: 80%;
}

#heroBack{
    box-shadow: 8px 8px 0 0 var(--main-color),
                -8px -8px 0 0 var(--main-color);
    transition: all 0.2s;
}

.about-photo:hover #heroBack{
    box-shadow: 12px 12px 0 0 var(--main-color),
                -12px -12px 0 0 var(--main-color);
}

#heroFront{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    animation-name: heroTransition;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes heroTransition {
    0% {opacity: 1;}
    45% {opacity: 1;}
    50% {opacity: 0;}
    95% {opacity: 0;}
}


/* Sesiones */
.sesion-card{
    width: 100%;
    margin: 50px 0;
    min-height: 500px;
    background: rgb(230,221,224);
    background: radial-gradient(circle, rgb(253, 253, 253) 0%, rgb(233, 203, 216) 100%);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(.5, .5, .5, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.2s;
    overflow: hidden;
}

.sesion-card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px 0 rgba(.5, .5, .5, .7);
}

.sesion-card h2{
    margin-top: 10px;
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.sesion-card p{
    padding: 15px 30px;
    width: 110%;
    font-size: 1.1rem;
    font-family: "Nunito", sans-serif;
    background: rgba(240, 240, 240, 0.8);
}

.sesion-card button{
    margin-top: 15px;
}

.newborn { background-image: url(./img/sesion-newborn.jfif); }
.maternity { background-image: url(./img/sesion-pregnant.jfif); }
.baby { background-image: url(./img/sesion-baby.jfif); }
.cake { background-image: url(./img/sesion-cake.jfif); }

/* Section Estudio */
.gridContainer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.gridItem img{
    width: 100%;
}


/* Section Opiniones */
.gridContainerOpiniones{
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 30px;
}

.opiniones-cards{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .2);
    padding: 20px;
    text-align: center;
    color: var(--main-color);
}

.opiniones-cards h2{
    font-size: 1.8rem;
    font-family: "Nunito", sans-serif;
}
.opiniones-cards h3{
    margin-top: -5px;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.opiniones-cards p{
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.opiniones-cards img{
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

/* Section Contacto */
.iconosContacto{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.iconoContacto{    
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--white-color);
    vertical-align: -8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.iconoContacto:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.tel{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 5px 0;
}
.tel p{ margin-left: 10px; }
.datos a{ text-decoration: none; }

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 50px;
}

input, textarea, button{
    padding: 10px;
    margin: 5px 0;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    border-style: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

input[type='submit'], button{
    color: var(--main-color);
    background-color: var(--white-color);
    font-weight: 700;
    padding: 8px 55px;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: all 0.2s;
    border: 2px solid var(--main-color);
}

input[type='submit']:hover, button:hover{
    color: var(--white-color);
    background-color: var(--main-color);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

/*Quitar flechas de casilla de numeros*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/*Section footer*/
footer{
    display: flex;
    justify-content: right;
    background-color: var(--white-color);
    padding: 10px;
    border-top: 1px solid black;
}

footer a{
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    color: black;
}

footer a:hover{
    text-decoration: underline;
}

/* Sesiones Pages */
.precioItem{
    text-align: left;
    margin-top: 50px;
}

.precioItem h3{
    font-family: "Nunito", sans-serif;
}

.precioItem ul{    
    margin-left: 50px;
}

.botones{
    margin-top: 50px;
    width:100%;
}

.botones button{
    width: 100%;
}

.prices{
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(240,240,240,1) 0%, rgba(243,227,224,1) 100%);
}